@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");

:root {
	--color-primary: #BA0000;
	--primary-dark: rgb(15, 17, 20);
	--darkest: #08090a;
	--primary-light: rgb(207, 207, 207);
	--neutral-light: #aaaaaa;
	--neutral-dark: rgba(230, 230, 230, 0.061);
	--instagram: #C13584;
	--facebook: rgb(66 103 178);
	--youtube: #FF0000;
	--twitter: #00ACEE;
	--oimba: #368ABC;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--primary-dark);
	font-family: 'Source Sans Pro', 'Raleway', Arial, Helvetica, sans-serif;
	overflow: hidden;
}

main {
	padding: 4rem 0;
	position: relative;
}

.background-main {
	background: url("../assets/images/flechas.png");
	bottom: 0;
	filter: grayscale(100%);
	left: 0;
	opacity: 0.2;
	position: absolute;
	right: 0;
	top: 0;
}

section, footer {
	padding: 3rem 0.5rem;
}

p {
	line-height: 2rem;
}

h1 {
	font-size: 2rem;
	font-weight: 600;
}

h2 {
	font-size: 3rem;
	color: var(--primary-light);
}

h3 {
	color: white;
	font-size: 2rem;
}

/* h1 span {
	color: white;
	font-size: 2.5rem;
	font-weight: 400;
} */

/* LANGUAGE */

.contador, count {
	bottom: 5px;
	position: fixed;
	left: 25px;
	transition: 300ms ease-in-out all;
	z-index: 10;
}
  
 .languagebr {
	bottom: 15px;
	position: fixed;
	right: 95px;
	transition: 300ms ease-in-out all;
	z-index: 10;
}

.languagear {
	bottom: 15px;
	position: fixed;
	right: 55px;
	transition: 300ms ease-in-out all;
	z-index: 10;
}

.languagepy {
	bottom: 15px;
	position: fixed;
	right: 15px;
	transition: 300ms ease-in-out all;
	z-index: 10;
}

.languagebr:hover, .languagear:hover, .languagepy:hover {
	opacity: 0.8;
	transform: scale(1.1);
}


/* LOADER */
.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	display:flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
  }

.loader {
	animation: spin 3s infinite ease;
	display: inline-block;
	height: 70px;
	opacity: 0.5;
	position: relative;
	width: 70px;
}

/* INICIO */

.home-container {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.76);
	display: flex;
	height: 100vh;
	overflow-y: hidden;
	padding: 2rem;
	position: relative;
	width: 100%;
}

.home-video {
	height: auto;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.darken-home {
    background: linear-gradient(#00000060, #000000de);
    bottom: 0;
    content: '';
	left: 0;
    position: absolute;
    right: 0;
	top: 0;
	z-index: 2;
}

.home-text {
	color: white;
	margin: auto;
	max-width: 900px;
	text-align: center;
	padding: 0 3rem;
	position: relative;
	z-index: 3;
}

.home-text p {
	font-size: 1.1rem;
	font-weight: 300;
}

.home-head {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.home-text footer {
	font-weight: 600;
	margin-top: 1.8rem;
	padding: 0;
}

.home-logo {
	height: 100%;
	margin-bottom: 1rem;
	max-width: 130px;
	width: 100%;
}

.country-span {
	font-weight: 300;
}

/* NAVBAR */

.navbar {
	min-height: 60px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: background-color 700ms ease-in-out;
	z-index: 5;
}

.navbar-brand img {
	width: 50px;
}

/* .nav-link {
	font-weight: 600;
	transition: 300ms ease-in-out color;
}

.nav-item {
	transition: 300ms ease-in-out all;
} */
/* 
.nav-item:hover {
	background-color: var(--neutral-dark);
	border-radius: 4px;
} */

/* CONTACTO 1 */

.contact-1 {
	display: grid;
	justify-content: center;
	padding: 6rem 3rem;
	text-align: center;
	width: 100%;
}

.contact-container {
	border-top: 1px solid var(--neutral-dark);
	border-bottom: 1px solid var(--neutral-dark);
	padding: 2rem;	
	position: relative;
}

.social-container {
	display: flex;
	justify-content: space-evenly;
	margin: 2rem auto;
}

.social-link {
	cursor: pointer;
	transition: 200ms ease-in-out all;
}

.social-link:hover {
	opacity: 0.8;
	transform: scale(1.05);
}

.social-icon {
	font-size: 4rem;
	margin: 1rem 0;
}

.fa-facebook {
	color: var(--facebook);
}

.fa-instagram {
	color: var(--instagram);
}

.fa-youtube {
	color: var(--youtube);
}

.fa-twitter {
	color: var(--twitter);
}

.contact-item {
	align-items: center;
	color: white;
	display: flex;
	justify-content: left;
	margin-bottom: 1rem;
}

.contact-item p {
	color: white;
	font-weight: 400;
	margin-bottom: 0;
	margin-left: 10px;
}

.contact-container:before, .contact-container:after {
	width: 100%;
	height: 1px;
	background-color: var(--neutral-dark);
	content: "";
	display: block;
	position: absolute;
	top: -10px;
	left: 0;
}

.contact-container:after {
	bottom: -10px;
	top: initial;
}

/* BLOQUES */

.services {
	padding-bottom: 6rem;
	position: relative;
}

.services:before {
	border-right: 1px solid var(--neutral-dark);
	content: "";
	display: block;
	height: 11rem;
	left: 0;
	position: absolute;
	top: -87px;
	width: 50%;
}

.service-container {
	align-items: center;
	display: flex;
	margin: auto;
	max-width: 960px;
	min-height: 270px;
	position: relative;
}

.service-video {
	height: 270px;
	position: relative;
	right: 0;
	top: 0;
	width: 480px;
}


.service-text-container {
	padding: 0 3rem;
	position: relative;
}

.service-text-container p {
	color: var(--primary-light);
	line-height: 1.6rem;
	margin-top: 1rem;
}

.odd {
	text-align: right;
}

.even {
	text-align: left;
}

.darken {
    background: linear-gradient(#0000001e, #000000cc);
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
	width: 480px;
	z-index: 2;
}

.odd .darken {
	right: 0;
}
.even .darken {
	left: 0;
}

.video-odd {
	order: 1;
}

/* OIMBA APP */

.app-container {
	border-bottom: 1px solid var(--neutral-dark);
	border-top: 1px solid var(--neutral-dark);
	margin: 0 auto;
	max-width: 1100px;
	overflow: hidden;
	padding: 6rem 0;
	position: relative;
	z-index: 1;
	width: 95%;
}

.app-logo-container {
	align-content: center;
	display: flex;
	justify-content: center;
	padding: 0;
}

.oimba-logo {
	height: 100%;
	max-height: 300px;
	width: auto;
}

.app-text-container {
	background-color: var(--oimba);
	border-radius: 7px;
	color: white;
	padding: 3rem;
}

.app-text-container h3 {
	color: white;
	font-weight: 400;
	margin-bottom: 2rem;
}

.download-app {
	margin-top: 3rem;
}

.app-container:before, .app-container:after {
	width: 100%;
	height: 1px;
	background-color: var(--neutral-dark);
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
}

.app-container:after {
	bottom: 10px;
	top: initial;
}

/* CONTACTO 2 */

.contact-container-2 {
	border: 0;
	padding: 2rem;	
	position: relative;
}

.contact-2 {
    background-color: var(--darkest);
	display: grid;
	justify-content: center;
	padding: 3rem;
	text-align: center;
	width: 100%;
}

.contact-2 h2 {
	color: white;
}


.contact-2-item, .contact-2-item p {
	color: white;
}

/*CEO*/
.ceo {
	text-align: center;
	padding: 45px;
	color: aliceblue;
}

/* MEDIA QUERIES */

@media (max-width: 980px) {
	h3 {
		font-size: 1.5rem;
	}

	.service-text-container p {
		font-size: 0.8rem;
	}
}

@media (max-width: 768px) {

	section {
		padding: 0;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 2rem;
	}

	h1 span {
		color: white;
		font-size: 1.6rem;
		font-weight: 400;
	}

	.home-text p, .home-text footer {
		font-size: 0.8rem;
	}

	.home-logo {
		max-width: 80px;
	}

	.home-container {
		height: 100%;
		min-height: 200vh;
		padding: 2rem;
		position: relative;
	}  
	
	.home-text {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	
	.home-head {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
	
	.home-logo {
		height: auto;
		max-width: 80px;
		width: 100%;
	}

	.contact-container {
		padding: 2rem 0;
	}

	.social-icon {
		font-size: 3rem;
	}

	.contact-item span  {
		font-size: 1rem;
	}
	
	.service-container {
		align-items: center;
		background-color: var(--darkest);
		border-radius: 5px;
		/* border: 1px solid var(--neutral-dark); */
		display: grid;
		margin: 1rem auto;
		max-width: 400px;
		min-height: 300px;
		overflow: hidden;
		position: relative;
		text-align: center;
	}

	.service-text-container {
		padding: 3rem 1rem;
	}

	.service-text-container h3 {
		color: var(--primary-light);
	}

	.service-text-container p {
		color: var(--neutral-light);
	}

	.service-video {
		height: auto;
		position: relative;
		right: 0;
		top: 0;
		width: 400px;
	}

	.video-odd {
		order: 0;
	}

	.darken {
		display: none;
	}

	.oimba-logo {
		height: auto;
		margin: 2rem auto;
		max-height: initial;
		max-width: 200px;
		width: 100%;
	}
}

@media (max-width: 480px) {
	.home-text p, .home-text footer {
		font-size: 0.7rem;
	}
	.social-icon {
		font-size: 2rem;
	}

	.contact-container-2, .contact-container {
		padding: 1rem;	
	}

	.contact-item p  {
		font-size: 0.8rem;
	}

	.service-container {
		border-radius: 0;
		margin: 0;
		max-width: 100vw;
		min-height: 300px;
		position: relative;
		text-align: center;
		width: 100vw;
	}

	.service-video {
		height: auto;
		position: relative;
		right: 0;
		top: 0;
		width: 100%;
	}

	.video-odd {
		order: 0;
	}

	.app-container {
		width: 100%;
	}
	
	.app-text-container {
		border-radius: 0;
	}
}

/* ANIMACIONES */

@keyframes spin {
	0% { 
		transform: rotate(0deg); 
	}
	100% { 
		transform: rotate(360deg); 
	}
  }